<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>{{meta_title}}</title>
		<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
		<link rel="stylesheet" href="/style.css"/>
		{{ghost_head}}
	</head>
	<body>
		<main class="container">
			<div class="columns">
				<div class="column col-3 hide-md"></div>
				<div class="column col-6 col-md-12">{{{body}}}</div>
				<div class="column col-3 hide-md"></div>
			</div>
		</main>

		<main class="container">
			<div class="columns">
				<div class="column col-3 hide-md"></div>
				<div class="column col-6 col-md-12">
					<div class="divider"></div>
					<footer class="navbar mb-2">
						<div class="navbar-section">
							<a href="https://twitter.com/tometo_official" class="btn btn-link">twitter</a>
							<a href="https://discord.gg/xqTEcaw" class="btn btn-link">discord</a>
							<a href="https://docs.tometo.org/conduct" class="btn btn-link">code of conduct</a>
						</div>
						<div class="navbar-section">
							the source for this website is available&nbsp;<a href="https://github.com/tometoproject/tometo-ghost">here</a>
						</div>
					</footer>
				</div>
				<div class="column col-3 hide-md"></div>
			</div>
		</main>

		<!-- very small website tracking snippet -->
		<script>
		(function() {
			if (window.location.hostname.indexOf('localhost') > -1) {
				return
			}

			var script = document.createElement('script')
			window.counter = 'https://mokou.goatcounter.com/count'
			script.async = 1
			script.src = '//gc.zgo.at/count.min.js'

			var ins = document.getElementsByTagName('script')[0]
			ins.parentNode.insertBefore(script, ins)
		})();
		</script>

		{{ghost_foot}}
	</body>
</html>
