{{!< default}}

{{#post}}
	<a href="/">&larr; Back to index</a>

	<h2 class="merriweather">{{title}}</h2>

	<section class="page">
		<style>
		.kg-width-wide > img {
			max-width: 60vw;
		}
		</style>
		{{content}}
	</section>
{{/post}}
