{{!< default}}

{{#post}}
	<a href="/" class="link blue mb3 db mt5">&larr; Back to index</a>

	<h2 class="f1 georgia mt0">{{title}}</h2>

	<p class="lh-copy measure v-mid f4">
		{{content}}
	</p>
{{/post}}
