.merriweather {
	font-family: 'Merriweather', serif;
}

@media screen and (max-width: 600px) {
	.d-sm-none {
		display: none;
	}
}


figcaption {
	text-align: center;
	font-size: 0.7em;
	color: #AAA;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-row-gap: 20px;
	grid-column-gap: 30px;
	justify-items: center;
	justify-content: start;
}

@media screen and (max-width: 40em) {
	.grid {
		grid-template-columns: auto;
		justify-items: start;
	}
}
