:root {
	--base-red: #FF4036;
	--light-red: #FF635B;
	--very-light-red: #FF8B85;
	--dark-red: #EA1308;
	--very-dark-red: #B40A01;
	--black: #4a4a4a;
	--light-gray: #fafafa;
}

.merriweather,
.merriweather *{
	font-family: 'Merriweather', serif;
}

* {
	font-family: 'InterRegular', serif;
}

.v-mid {
	vertical-align: middle;
}

.no-link {
	color: rgb(59, 67, 81) !important;
}

.no-link:hover {
	text-decoration: none;
	color: rgb(59, 67, 81);
	cursor: initial;
}

figcaption {
	text-align: center;
	font-size: 0.7em;
	color: #AAA;
}

/* Main navbar */

.main-nav {
	border-top: 3px solid var(--light-red);
	align-items: center;
}

.main-nav .navbar-section {
	margin-left: 13vw;
	margin-right: 13vw;
}

.main-nav .navbar-section > a {
	color: var(--black);
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
	height: 100%;
}

.main-nav .navbar-section > a:hover {
	color: var(--light-red);
	background-color: var(--light-gray);
}

/* Hero */
.hero {
	background-color: var(--black);
	color: white;
	margin-top: 0;
	margin-bottom: 40px;
}

.hero h1 {
	font-size: 2.5rem;
	font-family: 'Merriweather', serif;
	margin-top: 20px;
}

.hero p {
	font-size: 1.3rem;
	margin: 0 30px;
}

/* Post and page fixes */

.post-container {
	margin-top: 40px;
}

.post-container p {
	font-size: 1rem;
}

.post h1,
.post h2,
.post h3,
.post h4,
.page h1,
.page h2,
.page h3,
.page h4 {
	font-family: merriweather, serif;
}

.post img,
.page img {
	max-width: 100%;
}

a,
a:visited,
.btn.btn-link {
	color: var(--light-red);
}

a:hover,
.btn.btn-link:hover {
	color: var(--dark-red);
}

/* Menus */

.menu-borderless {
	border: 0;
	box-shadow: none;
	min-width: 240px;
}

/* Toasts */

.toast {
	background-color: var(--very-light-red);
	border-color: var(--very-light-red);
}

.toast a {
	color: white;
	font-weight: bold;
}

/* Menu stuff */

.menu .menu-item > a:hover,
.menu .menu-item > a:focus {
	background-color: var(--very-light-red);
	color: white;
}

.menu-badge {
	margin-right: 10px;
}

.menu-item:hover .menu-badge {
	color: white !important;
}

@media screen and (max-width: 600px) {
	.d-sm-none {
		display: none;
	}

	.main-nav .navbar-section {
		margin-left: 10px;
		margin-right: 10px;
	}
}
