{{!< default}}

<section>
	<a name="team"></a><h2 class="merriweather">Team</h2>
	<p>
		Tometo is developed and produced by
	</p>
	<a href="https://twitter.com/fdpberlin" class="tile tile-centered mb-1">
		<div class="tile-icon">
			<img src="https://twitter-avatar.now.sh/fdpberlin" width=50>
		</div>
		<div class="tile-content">
			<div class="tile-title">Marisa</div>
			<small class="tile-subtitle text-gray">Project Lead & Developer</small>
		</div>
	</a>

	<a href="https://twitter.com/touhoueurobeat" class="tile tile-centered mb-1">
		<div class="tile-icon">
			<img src="https://twitter-avatar.now.sh/touhoueurobeat" width=50>
		</div>
		<div class="tile-content">
			<div class="tile-title">agm</div>
			<small class="tile-subtitle text-gray">@touhoueurobeat, Developer</small>
		</div>
	</a>

	<a href="https://twitter.com/mintdecot" class="tile tile-centered mb-1">
		<div class="tile-icon">
			<img src="https://twitter-avatar.now.sh/mintdecot" width=50>
		</div>
		<div class="tile-content">
			<div class="tile-title">Mint</div>
			<small class="tile-subtitle text-gray">@mintdecot, Artist</small>
		</div>
	</a>

	<a href="https://twitter.com/technoabyss" class="tile tile-centered mb-1">
		<div class="tile-icon">
			<img src="https://twitter-avatar.now.sh/technoabyss" width=50>
		</div>
		<div class="tile-content">
			<div class="tile-title">Ada</div>
			<small class="tile-subtitle text-gray">@technoabyss, Developer</small>
		</div>
	</a>

	<a href="https://twitter.com/photonicDog" class="tile tile-centered mb-1">
		<div class="tile-icon">
			<img src="https://twitter-avatar.now.sh/photonicDog" width=50>
		</div>
		<div class="tile-content">
			<div class="tile-title">Freya</div>
			<small class="tile-subtitle text-gray">@photonicDog, Freya</small>
		</div>
	</a>

	<a href="https://twitter.com/flower_of_edo" class="tile tile-centered mb-1">
		<div class="tile-icon">
			<img src="https://twitter-avatar.now.sh/flower_of_edo" width=50>
		</div>
		<div class="tile-content">
			<div class="tile-title">Claire</div>
			<small class="tile-subtitle text-gray">@flower_of_edo, Volunteer</small>
		</div>
	</a>
</section>
